In [49]:
import pandas as pd
import numpy as np
from datetime import date, datetime, timezone

dados = pd.read_csv('./transactions.csv')
#dados = df.loc[(df.data >= '01/01/2018') & (df.data <'01/01/2019')]
dados['data'] = pd.to_datetime(df['data'], format='%d/%m/%Y')
dados['dia1Ano'] = (dados['data'].dt.month == 1) & (dados['data'].dt.day == 1)
dados['diaAno'] = (dados['data'].dt.day)
dados['diaMes'] = (dados['data'].dt.day)
dados['diaSemana'] = (dados['data'].dt.dayofweek)
dados['fds'] = (dados['diaSemana'] >= 5)
dados['diaUtil'] = (dados['diaSemana'] < 5)
dados['diaUtil5'] = ((dados['fds'] == False) & (dados['diaMes'] == 5))
dados['diaUtil10'] = ((dados['fds'] == False) & (dados['diaMes'] == 10))
dados['segDia10'] = ((dados['data'].dt.dayofweek == 0) & (dados['diaMes'] == 10))
dados.tail()

,data,totalTrsc,dia1Ano,diaAno,diaMes,diaSemana,fds,diaUtil,diaUtil5,diaUtil10,segDia10
1808,2019-05-16,36587356,False,16,16,3,False,True,False,False,False
1809,2019-05-17,36779502,False,17,17,4,False,True,False,False,False
1810,2019-05-18,10461572,False,18,18,5,True,False,False,False,False
1811,2019-05-19,6819558,False,19,19,6,True,False,False,False,False
1812,2019-05-20,49935265,False,20,20,0,False,True,False,False,False

In [50]:
dados.corr().round(4)

,totalTrsc,dia1Ano,diaAno,diaMes,diaSemana,fds,diaUtil,diaUtil5,diaUtil10,segDia10
totalTrsc,1.0000,-0.0587,-0.0622,-0.0622,-0.5733,-0.6511,0.6511,0.1028,0.1143,0.0881
dia1Ano,-0.0587,1.0000,-0.0877,-0.0877,-0.0052,-0.0099,0.0099,-0.0082,-0.0081,-0.0033
diaAno,-0.0622,-0.0877,1.0000,1.0000,-0.0002,0.0021,-0.0021,-0.1890,-0.0992,-0.0401
diaMes,-0.0622,-0.0877,1.0000,1.0000,-0.0002,0.0021,-0.0021,-0.1890,-0.0992,-0.0401
diaSemana,-0.5733,-0.0052,-0.0002,-0.0002,1.0000,0.7904,-0.7904,-0.0759,-0.0713,-0.0933
fds,-0.6511,-0.0099,0.0021,0.0021,0.7904,1.0000,-1.0000,-0.0984,-0.0973,-0.0393
diaUtil,0.6511,0.0099,-0.0021,-0.0021,-0.7904,-1.0000,1.0000,0.0984,0.0973,0.0393
diaUtil5,0.1028,-0.0082,-0.1890,-0.1890,-0.0759,-0.0984,0.0984,1.0000,-0.0240,-0.0097
diaUtil10,0.1143,-0.0081,-0.0992,-0.0992,-0.0713,-0.0973,0.0973,-0.0240,1.0000,0.4043
segDia10,0.0881,-0.0033,-0.0401,-0.0401,-0.0933,-0.0393,0.0393,-0.0097,0.4043,1.0000